//mixins scss
@function breaker($media) {
  $XXsmall: 140px;
  $Xsmall: 320px;
  $small: 425px;
  $medium: 770px;
  $large: 1024px;
  $Xlarge: 1440px;
  $XXlarge: 2560px;
  @if ($media == 'XXsmall') {
    $media: $XXsmall;
  }
  @else if ($media == 'Xsmall') {
    $media: $Xsmall;
  }
  @else if ($media == 'small') {
    $media: $small;
  }
  @else if ($media == 'medium') {
    $media: $medium;
  }
  @else if ($media == 'large') {
    $media: $large;
  }
  @else if ($media == 'Xlarge') {
    $media: $Xlarge;
  }
  @else if ($media == 'XXlarge') {
    $media: $XXlarge;
  }
  @return $media;
}
@mixin breakSmall($media) {
  $media: breaker($media);
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin breakBig($media) {
  $media: breaker($media);
  @media only screen and (min-width: $media) {
    @content;
  }
}
@mixin breakBetween($small, $big) {
  $small: breaker($small);
  $big: breaker($big);
  @media only screen and (min-width: $small) and (max-width: $big) {
    @content;
  }
}
@mixin BreakNotBetween($small, $big) {
  $small: breaker($small);
  $big: breaker($big);
  @media only screen and (max-width: $small) {
    @content;
  }
  @media only screen and (min-width: $big) {
    @content;
  }
}